Zoologico/Service References/InstituciónWS/GestionarInstitucion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Proyecto.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Proyecto.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInstitucions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Institucions" nillable="true" type="tns:Institucions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstitucions" nillable="true" type="tns:ArrayOfInstitucions" />
  <xs:complexType name="Institucions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Institucions" nillable="true" type="tns:Institucions" />
</xs:schema>