Zoologico/Service References/InstituciónWS/GestionarInstitucion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3526/GestionarInstitucion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Proyecto.Dominio" />
  <xs:element name="ListarInstituciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarInstitucionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Proyecto.Dominio" minOccurs="0" name="ListarInstitucionesResult" nillable="true" type="q1:ArrayOfInstitucions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInstituciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInstitucionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Proyecto.Dominio" minOccurs="0" name="ObtenerInstitucionesResult" nillable="true" type="q2:Institucions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>