Zoologico/Service References/InstitucionesWS/GestionarSede.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GestionarSede" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3526/GestionarInstitucion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3526/GestionarInstitucion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Proyecto.Dominio" />
      <xsd:import schemaLocation="http://localhost:3526/GestionarInstitucion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGestionarInstitucion_ObtenerInstitucionRUC_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerInstitucionRUC" />
  </wsdl:message>
  <wsdl:message name="IGestionarInstitucion_ObtenerInstitucionRUC_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerInstitucionRUCResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionarInstitucion_ObtenerInstitucionRUC_DataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Proyecto.Dominio" name="detail" element="q1:DataException" />
  </wsdl:message>
  <wsdl:message name="IGestionarInstitucion_ObtenerInstitucionRazon_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerInstitucionRazon" />
  </wsdl:message>
  <wsdl:message name="IGestionarInstitucion_ObtenerInstitucionRazon_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerInstitucionRazonResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionarInstitucion_ListaInstitucion_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaInstitucion" />
  </wsdl:message>
  <wsdl:message name="IGestionarInstitucion_ListaInstitucion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaInstitucionResponse" />
  </wsdl:message>
  <wsdl:portType name="IGestionarInstitucion">
    <wsdl:operation name="ObtenerInstitucionRUC">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionarInstitucion/ObtenerInstitucionRUC" message="tns:IGestionarInstitucion_ObtenerInstitucionRUC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionarInstitucion/ObtenerInstitucionRUCResponse" message="tns:IGestionarInstitucion_ObtenerInstitucionRUC_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGestionarInstitucion/ObtenerInstitucionRUCDataExceptionFault" name="DataExceptionFault" message="tns:IGestionarInstitucion_ObtenerInstitucionRUC_DataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerInstitucionRazon">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionarInstitucion/ObtenerInstitucionRazon" message="tns:IGestionarInstitucion_ObtenerInstitucionRazon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionarInstitucion/ObtenerInstitucionRazonResponse" message="tns:IGestionarInstitucion_ObtenerInstitucionRazon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaInstitucion">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionarInstitucion/ListaInstitucion" message="tns:IGestionarInstitucion_ListaInstitucion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionarInstitucion/ListaInstitucionResponse" message="tns:IGestionarInstitucion_ListaInstitucion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGestionarInstitucion" type="tns:IGestionarInstitucion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerInstitucionRUC">
      <soap:operation soapAction="http://tempuri.org/IGestionarInstitucion/ObtenerInstitucionRUC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataExceptionFault">
        <soap:fault use="literal" name="DataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInstitucionRazon">
      <soap:operation soapAction="http://tempuri.org/IGestionarInstitucion/ObtenerInstitucionRazon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaInstitucion">
      <soap:operation soapAction="http://tempuri.org/IGestionarInstitucion/ListaInstitucion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionarSede">
    <wsdl:port name="BasicHttpBinding_IGestionarInstitucion" binding="tns:BasicHttpBinding_IGestionarInstitucion">
      <soap:address location="http://localhost:3526/GestionarInstitucion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>