Zoologico/Service References/InstitucionesWS/GestionarInstitucion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3526/GestionarInstitucion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Proyecto.Dominio" />
  <xs:element name="ObtenerInstitucionRUC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInstitucionRUCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Proyecto.Dominio" minOccurs="0" name="ObtenerInstitucionRUCResult" nillable="true" type="q1:Institucions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInstitucionRazon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="razon" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInstitucionRazonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Proyecto.Dominio" minOccurs="0" name="ObtenerInstitucionRazonResult" nillable="true" type="q2:Institucions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaInstitucion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaInstitucionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Proyecto.Dominio" minOccurs="0" name="ListaInstitucionResult" nillable="true" type="q3:ArrayOfInstitucions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>